.list.activity {
    display: flex;
    flex-wrap: wrap;
    @include clearfix;
    .item {
        padding: $default_padding/2;
        .user_block {
            position: static;
            display: block;
            text-decoration: none;
            width: auto;
            div {
                line-height: 1.3em;
            }
        }
    }
}